{% extends "computer/index.html" %}

{% block title %}
    Add Computer Form
{% endblock %}

{% comment %} {% block content %}
    <div class="d-flex flex-column">
        <div class="mb-3">
            <h4>Fill the form to add/update</h4>
        </div>
        <div>
            
                <form method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type= 'submit' value= 'Submit'>
            
        </div>
    </div>
{% endblock content %} {% endcomment %}



{% block content %}
    <div class = "row justify-content-center ">
        <div class="col-lg-4">
            <form method= "POST" enctype= "multipart/form-data" >
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.computer_code.id_for_label }}" class="form-label">Computer Code:</label>
                    <input type="text" class="form-control" name="{{ form.computer_code.name }}" id="{{ form.computer_code.id_for_label }}" value="{{ form.computer_code.value}}">
                </div>

                <div class=" mb-3">
                    <label for="{{ form.quantity.id_for_label }}" class="form-label">Quantity: </label>
                    <input type= "number" class= "form-control" name= "{{ form.quantity.name }}" id= "{{form.quantity.id_for_label}}" value= "{{form.quantity.value}}">
                </div>

                <div class=" mb-3">
                    <label for="{{ form.unit_rate.id_for_label }}" class="form-label">Rate: </label>
                    <input type="number" class="form-control" name="{{ form.unit_rate.name }}" id="{{ form.unit_rate.id_for_label }}" value="{{ form.unit_rate.value }}">
                </div>

                <div class=" mb-3">
                    <label for="{{ form.total_price.id_for_label }}" class="form-label">Total Price: </label>
                    <input class="form-control" name="{{ form.total_price.name }}" type="number" id="{{ form.total_price.id_for_label }}" value= "{{ form.total_price.value }}">
                </div>
                
                <div>{{form.initial}}</div>

                <div class="input-group mb-3">
                    <label class="input-group" for="{{ form.computer.id_for_label }}">Computer Generation:</label>
                    <select class="form-select" id="{{ form.computer.id_for_label }}" name="{{ form.computer.name }}" value= "{{ form.computer.value }}">
                        <option value="" disabled selected >Select a Generation </option>
                        {% for gen in form.computer.field.queryset %}
                            <option value= "{{ gen.pk}}">{{gen.generation}}</option>
                        {% endfor %}
                    </select>
                </div>
                  
                <div>
                    <button class= "btn btn-secondary" type="submit">Submit</button>   
                </div>

            </form>
        </div>
    </div>
{% endblock%} 